/* Dial Pad */
.dialPad{
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color:#222222;
}
.dialPad>*{
    height:30px;
    width:100%;
    line-height:30px;
    font-size:1.4em;
    margin:auto;
    text-align:center;
    background-color:#111111;
    color:#dddddd;
}
.dialPad-btn{
    cursor:pointer;
    border:0.5px solid rgb(150,150,150,0.5);
}
.dialPad-btn:hover{
    background-color:#555555;
}
.dialPad-btn:active{
    border:0.5px solid skyblue;
}
.dialPad-lineChooser{
    cursor:pointer;
    font-size:1.2em;
    grid-column: 2 / 4;
    border:0.5px solid rgb(150,150,150,0.5);
}

.dialPad-display{
    grid-column:1 / 3;
    font-size: 1.4em;
    text-align: right;
    background-color: #111111;
    border-width: 0;
    padding-right: 10px;
}
.dialPad-display::placeholder { /* Text that says "Dial a number" */
     letter-spacing: normal;
     font-size:18px;
}
.dialPad-delete{
    font-size:2em;
}
.dialPad-button{
    font-size:2em;
}
.dialPad-button i{
    font-size:.6em;
}
.dialPad-asterisk{
    font-size:4em;
    line-height:100%;
}
.dialPad-hang{
    width:100%;
    height:100%;
    background-color:#eb5454;
    color:#222222;
}
.dialPad-hang:not(.dialPad-disabled):hover{
    background-color:#FF0000;
}
.dialPad-hang i{
    transform: rotate(135deg);
}
.dialPad-call{
    height:100%;
    width:100%;
    background-color:#54eb54;
    color:#222222;
}
.dialPad-call:not(.dialPad-disabled):hover{
    background-color:#00FF00;
}

.dialPad-disabled{
    /* background-color:#555555; */
    cursor:not-allowed;
    opacity:0.2;
}
.dialPad-disabled:hover{
    animation:none;
}