#dispatchPane{
    height:100%;
}

.dispatch-title{
    height:30px;
}

.dispatch-list{
    display:flex;
    flex-direction:column;
}
.dispatch-item{
    width:100%;
    border: 0.25px solid gray;
    font-size:small;
    cursor:pointer;
    display:flex;
    height:30px;
    font-size:20px;
}
.dispatch-item.selected{
    box-shadow:inset 0 0 5px 5px black, inset 0 0 6px 6px white
}
.dispatch-logo{
    max-height:100%;
    width:70px;
}

.dispatch-last-call{
    margin-left:20px;
    opacity:0.7;
}


#dispatchPTT{
    position:relative;
    height:100%;
    cursor:pointer;
}
#dispatchPTT .spacer{
    width:100%;
    height:100%;
    position:absolute;
    display:flex;
}
#dispatchPTTBorder{
    margin:10px;
    width:100%;
    border-radius:200px;
    opacity:0.6;
    box-shadow:inset 0 0 1px 5px firebrick;
}
#dispatchPTT.active #dispatchPTTBorder{
    box-shadow:inset 0 0 1px 15px firebrick,
    inset 0 0 50px 10px firebrick,
    0 0 50px -10px firebrick;

    opacity:1;
    margin:0px;
}
#dispatchPTTText{
    display:flex;
    width:100%;
    height:100%;
    color:white;
    font-size:9vh;
}
#dispatchPTTText i{
    margin:auto;
}