.videoContainer iframe{
    width:100%;
    height:100%;
}
.videoContainer{
    height:100%;
}
.lm_openBehind,.lm_customClose,.lm_link,.lm_refreshSelectors{
    color:lightgrey;
}

/* hide popout and openbehind on mobile */
.lm_popout,.lm_openBehind{
    display:none;
}
@media only screen and (min-width:992px){ 
    .lm_popout, .lm_openBehind{
        display:inherit;
    }
}


.lm_controls{
    top:0px;
}
/* header height */
.lm_header{
    height:40px;
}
.lm_tabs,.lm_controls{
    height:100%;
}
.lm_header .lm_tabs .lm_tab, .lm_header .lm_tabdropdown_list .lm_tab{ /* more specific to override .lm_header .lm_tab rule in base css*/
    height:100%;
    margin: 0px;
    padding: 0 5px 0 5px;
    box-shadow: inset 0px 0px 1px 1px gray;
}
.lm_tab .lm_title{
    height:100%;
    font-size:24px;
}

/* Fix additional tabs dropdown */
.lm_stack,.lm_header,.lm_items{
    position:relative;
    z-index:1;
}
.lm_header{
    z-index:2;
}
/* Increase width of additional tabs dropdown items to 120px so 'Selectors' fits */
.lm_header .lm_tabdropdown_list .lm_tab .lm_title {
    width: 120px;
}

/* .lm_stack>.lm_header{
    height:40px;
} */
/* .lm_header>.lm_tabs>.lm_tab{
    height:14px;
} */
.lm_header .lm_controls>li{
    padding-right:0px;
    font-size:24px;
    margin-left:8px;
}
.lm_customClose{
    position:absolute;
    right: 0;
    top:0;
    z-index:500000; /* attempting to make this easier to press */
    width:2em;
    height:2em;
    top:-5px;
}
.lm_customClose i{
    font-size:30px;
    position:absolute;
    left:-10px;
    top:50%;
}
.lm_link i{
    font-size:30px;
}

.behindContents{
    position:absolute;
    /* width:calc(100% - 18px); Leave room for the scrollbar */
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:2;
    /* opacity:0.5; */
}
.behindContents .gum-video-container{
    width:100%;
    height:100%;
}
.behindContents video{
    width:100%;
    max-height:100%;
    z-index:1;
    position:relative; /* needed for z-index to do anything */
}
.behindContents iframe{
    width:100%;
    height:100%;
}
/* show GL headers in front of .behindContents */
#controlPanelPane .lm_content>div, #controlPanelPane .lm_header{
    z-index:2;
    position:relative;
}


/* override GL naturally colored backgrounds */
#controlPanelPane .lm_goldenlayout.lm_root{
    background:transparent;
    z-index:2;
}
#controlPanelPane .lm_content{
    background:transparent;
}