/* VCP General layout */
#videoPane{
    width:100%;
    height:100%;
}
.selectorsPane{ /* affects all the selector panes: normal, analytics, streamSelection*/
    height:100%;
}
#container-upper{
    flex: 0 0 40px; /* stuck at 40px */
}
#container-middle{
    flex: 1 0 auto; /* can grow but not shrink*/
}
#controlPanelPane{
    height:100%;
    overflow:hidden;
    position:relative;
}

body{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
.container-container{
    width:100%;
    height:100%;
    max-height:100vh;
    max-height:calc(var(--vh, 1vh) * 100);
    display:flex;
    flex-direction:column;
}

/* This leaves room for the menu across the bottom in mobile, though that is technically a child of #container-upper */
@media only screen and (max-width: 991px){
    #container-bottom{
        flex: 0 0 30px;
    }
}