#streamSelectionPane{
    width:100%;
    height:100%;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
}
/* More specific description so that it overrides the default z-index of 2 */
#controlPanelPane .lm_content>#streamSelectionPane{
    z-index:0;
}
#selectors.streamSelection>.selector{
    flex: 0 0 auto;
}

/* #videoPreviews{
    z-index:1;
} */
.videoPreview{
    opacity:0.7;
    position:fixed;
    /* to center the spinner */
    display:flex;
    align-items:center;
    justify-content:center;
}
.dropzone-magnet{
    position:absolute;
    opacity:0;
    width:100%;
    height:calc(100% - 60px);
}
#toBePublished .dropzone-magnet{
    margin-top:60px;
}
.videoPreview iframe, .selector-bg iframe{
    width:100%;
    height:100%;
}
.videoPreview:not(.dragging){
    z-index:1;
}
.videoPreview:not(.dragging).publishing{
    z-index:3;
}
.videoPreview.dragging{
    z-index:3;
}
.videoSelector .selector-bg{
    margin:5px;
    z-index:1000;
    opacity:1;
    width:calc(100% - 10px);
    height:calc(100% - 10px);
}
.videoSelector{
    height:150px;
}
#streamSelectionPane .videoSelector .selector-bg,#streamBox .videoSelector .selector-bg{
    opacity:0;
}

.streamSelectionLabel{
    font-size:30px;
    color:white;
    margin:10px;
    z-index:1;
}

/* STRUCTURE */
#notToBePublished{
    position:relative;
    z-index:1;
    flex:1 1 auto;
    /* min-height:250px; */
    display:flex;
    flex-direction:column;
}
#toBePublished{
    position:relative;/*necessary for z index */
    /* z-index:2;prevents undragged videos from overlapping over this area */
    /* background-color:#00152b; necessary to cover up videos scrolled beneath this area */
    /* height:50%; */
    min-height:200px;
    margin-bottom:50px;
    flex:0 1 auto;
    /* min-height:250px; */
    display:flex;
    flex-direction:column;
}
#toBePublished #selectors{
    width:100%;
    /* min-height:250px; */
    display:flex;
    justify-content: left;
}
#toBePublishedBackground{
    background-color:#00152b;
    position:absolute;
    left:0;top:0;
    width:100%;
    height:100%;
    z-index:1;
}
#toBePublished #selectors .selector{
    flex: 0 0 200px;
}
.selectorBank{
    position:absolute;
    left:0;
    top:0;
    flex:1 1 auto;
}
.selectorBankContainer{
    height:calc(100% - 60px);
    position:relative;
    
}
.selectorBankContainer .scrollContainer{
    overflow-y:auto;
}
.selectorBankContainer #selectors{
    width:100%;
    grid-template-columns: repeat( auto-fit, 200px );
}





/* DROPZONES */
#publishDropzone,#bankDropzone{
    position:fixed;
    display:none;
    z-index:4;
}
.dropzone{
    z-index:3;
    height:100%;
}
.dropzone-placeholder{
    position:absolute; /* so dotted outline considers this the parent */
    height:150px;
    top:50px;
    width:calc(100% - 15px);
    text-align:center;
    font-size:35px;
    line-height:35px;
    display:flex;
    margin:auto;
}
.dropzone-placeholder-label{
    margin:auto;
    width:100%;
    z-index:2;
    color:white;
}
.dropzone-dotted-outline{
    position:absolute;
    left:10px;
    top:10px;
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    border:dashed 3px black;
    background-color:dimgray;
    opacity:0.5;
}
.dropzone-remainder{
    width:100%;
    height:150px;
}

#notToBePublished .dropzone-placeholder{
    position:absolute;
    left:0;
    top:0;
}
div:not(.dragging)>.dropzone-highlight.drag-enter{
    box-shadow: inset 0 0 0 10px #DBDBDB;
}