.videoWall{
    height:100%;
}
.videoWall .scrollContainer{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.videoWall-videoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
    cursor: pointer;
}
.videoWall .video{
    flex: 1 1 300px;
}
.videoWall video{
    width:100%;
    max-height:100%;
    top:0;
    left:0;
}

.videoWall .selected{
    border:4px solid black;
}

#videoWallPublisher{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:large;

}
#videoWallPublisher button{
    font-size:large;
    display: flex;
    align-items: center;
    justify-content: center;
}