<div class="modal-header">
	<h3>{{productName}} System Identification Code</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">Information</div>
            <div class="panel-body">
                The System Identification Code is a unique value specific to the computer on which the Virtual Matrix was installed.
                The code must be provided to your sales representative upon initial installation in order to obtain a license file
                that enables the Virtual Matrix to support the number of clients purchased. The License file is not transferable
                to any other computer.
            </div>
        </div>
        
        <div class="form-group">
            <label for="clientDescription" class="col-xs-12 col-md-5 control-label">System Identification Code:</label>
            <div class="col-xs-12 col-md-7">
                <p style="padding-top: 7px;">{{systemIdentificationCode}}</p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="col-xs-12 col-sm-4">
        <div class="btn btn-primary" ngf-select="upload($file)"><span class="fa fa-upload"></span>&nbsp;Upload License</div>
    </div>
    <div class="col-xs-12 col-sm-4">
         <button class="btn btn-warning" ng-click="invalidateLicense()"><span class="fa fa-ban"></span>&nbsp;Invalidate License File</button> 
    </div>
    <div class="col-xs-12 col-sm-4">
        <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
</div>