#loginContainer{
    display:flex;
    margin-top:15px;
    justify-content: center;
}

#login{
    min-width:400px;
    max-width:600px;
    margin:30px;
    flex: 1;
}
#login .title{
    font-size:22px;
}
#login hr{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-color: #dbdbdb;
}
#loginInputs{
    display:flex;
    flex-wrap: wrap;
}
#loginInputs .form-group{
    width:100%;
    display:flex;
    /* By default, bootstrap applies these styles only when screen has min-width 768px*/
    text-align:right;
    margin-bottom: 0;
    padding-top: 7px;
}
#loginInputs .form-group>label{
    flex:1
}
#loginInputs .form-group>:not(label){
    flex:3;
    display:flex;
}
#loginModes{
    display:flex;
    justify-content: space-between;
}
.login-submit div{
    justify-content: space-between;
}

@keyframes highlight {
    0%   {border-color:red}
    50%  {border-color:#ccc;}
    100%  {border-color: red;}
}
@keyframes highlightPulse{
    0%   {border-style:solid;}
    50%  {border-color:red; border-width:7px;border-style:solid;}
    100%  {border-style:solid;}
}
.highlight{
    /* transition: border 2s; */
    animation-name: highlight;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}
.highlightPulse{
    animation-name: highlightPulse;
    border-style:solid;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

#login2,#password2{
    height:34px;
    font-size:14px;
}
#loginLegend{
    font-size:21px;
}
#login label,#login .btn{
    min-width:0px;
    font-size:14px;
}

/* .login-configuration, .login-submit{
    display:inline-block;
} */
/* .login-configuration{
    float:right;
} */

#versionNumberDisplay{
    position:fixed;
    left:10px;
    bottom:10px;
    color:#999999;
    font-size:11px;
}