.noSelect {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.formModal-input{ /* refers to <input> or <select> or <toggle-switch> element */
    display:block;
    float:right;
    margin-right:10px;
}

.formModal textarea{
    width: 100%;
    font-size:11px;
}

.formModal{
    font-size:20px;
}
.formModal-header{
    font-size:22px;
}
.formModal-row{
    margin-bottom:10px;
}
.formModal-label{
    width:36%;
    text-align:right;
    margin-right:2%;
}
.formModal-input{
    width:60%;
    margin-right:2%;
}
.formModal-input input{
    font-size:20px;
    height:40px;
    max-width:100%;
}
.formModal-input toggle-switch .btn-group button{
    font-size:20px;
}
.formModal-input select{
    width:100%;
    height:40px;
    cursor:pointer;
}
.formModal-input select option{
    font-size:30px;
}
.formModal .formModal-btn,.formModal .formModal-auxillary-btn{
    font-size:22px;
}
.formModal .formModal-auxillary-btn{
    float:right;
}

/* Fix so that the input still takes up space even though it floats */
.formModal .form-group{
    overflow:hidden;
}